Agreagar Comentario:<br/>
<form method="post" action="/quizes/<%=quizId%>/comments">
	<input type="text" id="comment" name="comment[texto]" value=""/> <p>
	<input type="submit" value="Enviar">
</form>