<!DOCTYPE html>
<html>
  <head>
    <title>Preguntas</title>
  </head>
  <body>
  	<h1>Quiz: El juego de preguntas!</h1>
  	<p><%= respuesta %><br/>
  	<a href="/quizes/question">Intentelo Otra vez</a>
  </body>
</html>