<table>
	<% var i; for (i=0; i < quizzes.length; i++) { %>        
    	<tr>
    		<td><a href="/quizes/<%=quizzes[i].id%>"><%= quizzes[i].pregunta %></a></td>
      	</tr>
    <% } %>
    <tr>
    	<td><a href="/quizes/new">Crear Pregunta</a></td>
    </tr>
</table>