<form method="GET" action="/quizes/<%= quiz.id %>/answer">
	<h2>Pregunta: ¿<%= quiz.pregunta %>?</h2>
    Responda aqui: <input type="text" name="respuesta"/><br/>
    <input type="submit" value="Enviar"/>
</form>